Repository dmarins/nextjs: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, yarn lint --fix

preparando/executando testes de unidade no projeto
  .babelrc
  .eslintrc.json
  .jest/setup.ts
  jest.config.js
  package.json
  src/components/Main/index.tsx
  src/components/Main/test.tsx
  yarn.lock
Due: sort-package-json, yarn lint --fix

teste com snapshot
  .lintstagedrc
  package.json
  src/components/Main/__snapshots__/test.tsx.snap
  src/components/Main/index.tsx
  src/components/Main/test.tsx
Due: sort-package-json, yarn lint --fix

somente testes necessarios
  .lintstagedrc
Due: none

instalando e configurando o styled components e reset css
  .babelrc
  package.json
  public/favicon.ico
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/global.ts
  tsconfig.json
  yarn.lock
Due: sort-package-json, yarn lint --fix

criando a main + testes de unidade + styled components
  jest.config.js
  public/img/hero-illustration.svg
  public/img/icon-192.png
  public/img/icon-512.png
  public/img/logo-gh.svg
  public/img/logo.svg
  public/vercel.svg
  src/components/Main/__snapshots__/test.tsx.snap
  src/components/Main/index.tsx
  src/components/Main/styles.tsx
  src/components/Main/test.tsx
Due: yarn lint --fix

melhorando os estilos no snapshot
  .jest/setup.ts
  package.json
  src/components/Main/__snapshots__/test.tsx.snap
  yarn.lock
Due: sort-package-json, yarn lint --fix

instalando e configurando o storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/components/Main/index.tsx
  src/components/Main/stories.tsx
  yarn.lock
Due: sort-package-json, yarn lint --fix

atualizando snapshot
  src/components/Main/__snapshots__/test.tsx.snap
Due: yarn lint --fix

configurando a aplicaçao como um pwa
  next.config.js
  package.json
  public/manifest.json
  public/sw.js
  public/workbox-ea903bce.js
  src/pages/_app.tsx
  yarn.lock
Due: sort-package-json, yarn lint --fix

removendo do repo os arquivos de suporte a pwa
  .gitignore
  public/sw.js
  public/workbox-ea903bce.js
Due: none

renomeando o projeto
  src/pages/_app.tsx
Due: yarn lint --fix

fix code coverage
  jest.config.js
Due: none

adicionando os estáticos no storybook
  .gitignore
  package.json
Due: sort-package-json

adicionando ci via github actions
  .github/workflows/ci.yml
Due: none

fix ci
  .github/workflows/ci.yml
Due: none

automatizando a criaçao de arquivos
  .eslintrc.json
  generators/plopfile.js
  generators/templates/index.tsx.hbs
  generators/templates/stories.tsx.hbs
  generators/templates/styles.ts.hbs
  generators/templates/test.tsx.hbs
  package.json
  src/components/Main/stories.tsx
  src/components/Main/styles.ts
  yarn.lock
Due: sort-package-json, yarn lint --fix

fix: config jest-styled-components
  .babelrc
Due: none

Path conditions:
  sort-package-json: any of: package.json
  yarn lint --fix: any of: src/**/*
